node_modules
.next
out
build
coverage

.env*
.vercel
.pnp
.pnp.*
.yarn

data
drizzle/meta
*.db
*.db-journal
*.db-wal
*.db-shm
*.tsbuildinfo
next-env.d.ts

pnpm-lock.yaml
.superpowers
docs/superpowers
